body {
  background: linear-gradient(to right, #0c4a92, #b89c41);

  font-size: 1rem;
  margin: 0;
}
.app-wrap {
  border: 10px solid rgba(0, 0, 0, 0.9);
  height: 90vh;
  max-width: 540px;
  margin: 5vh auto 5vh auto;
  border-radius: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.6);
  border-bottom: 70px solid  rgba(0, 0, 0, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  a {
    color: white;
    text-decoration: none;
  }
  a.button {
    padding: 1rem 1.5rem;
    border-radius: 2px;
  }

  > * {
    padding: 10px;
    flex: 1 1 auto;
  }
  header {
    background: #b89c41;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      letter-spacing: 2px;
      background: rgba(0, 0, 0, 0.2);
      padding: 20px 0px;
      text-align: center;
      transition: all 0.5s;
    }
  }
  main {
    background: white;
    overflow-y: scroll;
  }
  footer {
    background: #b89c41;
    display: flex;
    flex-wrap: wrap;

    > * {
      flex: 1;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}
