body {
  background: linear-gradient(to right, #ffb3e6, #99bbff);
}
.wrapper {
  max-width: 100vw;
  margin: 0 auto;
  padding: 50px;
}

.flex-nav {
  min-width: 200px;
}

.flex-nav ul {
  border: 1px solid #000;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.flex-nav ul li {
  flex: 3;
}

.flex-nav ul li.social {
  flex: 1;
}

.flex-nav ul a {
  color: white;
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.flex-nav ul a:hover {
  background: rgba(0, 0, 0, 0.3);
}

@media all and (max-width: 900px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }
  .flex-nav ul li {
    flex: 1 1 50%;
  }
}

@media all and (max-width: 650px) {
  .flex-nav ul {
    flex-direction: wrap;
  }
  .flex-nav ul li {
    flex: 1 1 100%;
  }

  .flex-nav ul li.social {
    flex-basis: 100%;
  }
}
